#saudacao{
    border: solid 3px;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

img{
    margin-top: 2.5rem;
    margin-left: 37rem;
    margin-bottom: 1.5rem; 
}

h1{
    text-align: center;
    margin-top: 1.5rem
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: oblique;

}

div{
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Timess', serif;
    
}

#biografia {
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5em;
}

footer{
    text-align: center;
    border-top: 3px solid;
    margin-top: 5rem;

}
body{
    background-image:url(https://img.freepik.com/vetores-gratis/fundo-de-particulas-abstratas-tecnologia-realista_23-2148433468.jpg);
    color: aliceblue;

}